:root {
    /* debug colours */
    --bgCol: #000000;
    --headerCol: #123749;
    --xmlCol: #1d1d1d;
    --xmlTreeCol: #272727;
    --textureAtlasCol: #e1c11e;
    --pixiCol: #002f2f;
    --fileCol: #333333;
    --textInputCol: #c6c6c6;
}

* {
    color: white;
    box-sizing: border-box;
}

body {
    background-color: var(--bgCol);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    padding: 1rem;
    background-color: var(--headerCol);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}

.left, .main, .right {
    display: flex;
    flex-direction: column;
}

.left {
}

.right {
}

.main {
    flex: 3;
}

.panel {
    padding: 1rem;
}

.side {
    flex: 1;
    min-width: 384px;
}

.inputOutputData {
    display: flex;
    background-color: var(--fileCol);
    flex-direction: column;
}

.inputPanel {
    display: flex;
    justify-content: space-between;
}

.pixiView {
    background-color: var(--pixiCol);
    flex: 1;
    max-height: 360px;
}

.xmlEditor {
    background-color: var(--xmlCol);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.xmlEditor textarea {
    background-color: var(--xmlCol);
    display: flex;
    flex: 1;
    resize: none;
}

.textureAtlas {
    background-color: var(--textureAtlasCol);
    flex: 1;
    justify-content: center;
    align-items: center;
}

.textureAtlas img {
    flex: 1;
}

.xmlTreeView {
    background-color: var(--xmlTreeCol);
    flex: 2;
}

.textInput {
    background-color: var(--textInputCol);
}

